body {
    width: 480px;
    height: 200px;
    overflow: hidden;
    background: transparent;
}

img {
    width: 100%;
}

.class1 {
    margin-top: 0;
}

.class2 {
    margin-top: -192px;
}

.class3 {
    margin-top: -384px;
}

.class4 {
    margin-top: -576px;
}